# Virtual environment
venv/

# Raw FAERS data (too large for GitHub)
faers_raw/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db